@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&family=Oswald&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

.zona1 img{
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.masvendido img{
    align-content: center;
}

/* Productos */
.product{
    display: inline-block;
    margin: 10px 20px;
    float: none;
    width: 250px;
}

/* Imagen del producto */
.product img{
    width: 100%;
    height: auto;
}

/* al pasar el Puntero del mouse */
.product :hover{
    cursor: pointer;
    transform: rotate(-1deg);
}

/* Nombre del producto */
.product h4{
    font-size: 1em;
    margin: 10px 0 2px;
}

.product h4:hover{
    font-size: 1.1em;
    color: #b60808;
}

/* Precio del producto */
.product h5{
    color: #b60808;
    margin-top: 8px;
}

/* Calificacion en estrellas */
.rating{
    color: #ffca28;
    font-size: 1.4em;
}

/* Forma de la calificacion */
.star:before {
    content: "\2605";
}

/* Color de estrellas vacias */
.star:hover ~ .star:before {
    content: "\2605";
    color: #ff0000;
}

.letras{
    font-size: 20px;
    padding: 0px 150px;
    flex: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a95353;
}

.video{
    flex: 1;
}

.mapa{
    margin-top: 100px;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.mapa iframe{
    width: 80%;
    height: 500px;
    filter: grayscale(100%) invert(92%) contrast(93%);
    border-radius: 10px;
    box-shadow: 10px 5px 10px #000;
}

a{
    color: #000;
    text-decoration: none;
}